
<nav class="navbar">
   <p style="width:100%; margin: 0; height: 0px;" >
    <mat-toolbar [ngStyle]="{'backgroundColor': navbarChangeColor? '#000':'#E50000 ' }">
    
        
     <img [routerLink]="['/']" class="logo" src="../../../assets/Image/AganorsaLogo.png"/>
       
    
      <ul class="navlinks">
        <li [routerLink]="['/cigars']" class="links">Cigars</li>
        <li [routerLink]="['/ourstory']" class="links">Our Story</li>
        
        
     </ul>
 
     
    
        <button class="btn-store">Store Locator</button>
 
    </mat-toolbar>
  </p>
</nav>

  
