<div>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div style="background: url(https://res.cloudinary.com/gise/image/upload/v1642265959/tobacco-leaf-1_aqwyqj.jpg) center/cover; width: 100%; height: 100%; ">
        
        <div class="headerbutton">
          <h1 class="headercon">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
          <button class="leafbutton">See More</button>
        </div>
        

      </div>
    
    </mat-grid-tile>
    <mat-grid-tile>
        <div  style="background:url(https://res.cloudinary.com/gise/image/upload/v1642265959/istockphoto-153480663-612x612_o3hxpw.jpg) center/cover; width: 100%; height: 100%;">
          <div class="headerbutton">
            <h1 class="headercon">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h1>
            <button class="leafbutton">See More</button>
          </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="background:url(https://res.cloudinary.com/gise/image/upload/v1642265958/1_nvdfpl.webp) center/cover; width: 100%; height: 100%;">
        <div class="headerbutton">
          <h1 class="headercon">Ut enim ad minim veniam, exercitation ullamco laboris nisi ut aliquio </h1>
          <button class="leafbutton">See More</button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="background:url(https://res.cloudinary.com/gise/image/upload/v1642265886/2016_09_18_12135_1474133137._large_rsej1d.jpg) center/cover; width: 100%; height: 100%;">
        <div class="headerbutton">
          <h1 class="headercon">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</h1>
          <button class="leafbutton">See More</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</div>
