
    <div>
        <div class="landing">
        
                <div class="headercontainer">
                    <h1 id="header" class="header">Taste The Difference</h1>
                </div>

                <div class="cigarcontainer">
                    <div class="cigarimage">
                        <img src="../../../../assets/Image/download.png" >
                    </div>
                    
                      <div class="buttoncontainer"  style="display: flex; justify-content: flex-start; margin-left: 1rem;">
                        <button class="button">Get to know more</button>
                    </div>
                </div>
        
        </div>
        <div class="homebrands">
            <app-homebrands></app-homebrands>
        </div>
        <div class="leafgrid" style="margin-top: 1rem;">
            <app-leafgrid></app-leafgrid>
        </div>
        <div style="height: 10rem;"></div>
    </div>