<div class="headercontainer"></div>

<div style="display:flex; justify-content:center;  height:0px; width: 100%; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
   <div class="boxheader">
  <h2 class="ourstoryhead"> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h2>
</div>
</div>
<div style="height: 50rem; background-color: rgba(250, 227, 182); width:100%; display: flex;  align-items: center; ">
  
  <div class="threeimage">
  
    <img class="image image_03"src="https://res.cloudinary.com/gise/image/upload/v1642265959/tobacco-leaf-1_aqwyqj.jpg" d alt="doom screen" />
    <img class="image image_02"src="https://res.cloudinary.com/gise/image/upload/v1642090939/guardian-nightwatch-2_gymuht.jpg" alt="snes ghostnghoul" />
    <img class="image image_01"src="https://res.cloudinary.com/gise/image/upload/v1642090154/IMG_8729_ciryje.jpg" alt="metal gear solid" />
  
  </div>
  
  
  
  
  
  <div style="width:100%;  height:28rem;">
    <p class="para">Auctor elit sed vulputate mi sit amet mauris commodo quis. Vulputate dignissim suspendisse in est. 
      Pellentesque massa placerat duis ultricies lacus sed. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. 
      Habitant morbi tristique senectus et. </p> <p class="para">Libero volutpat sed cras ornare arcu dui vivamus arcu felis. Justo eget magna fermentum iaculis eu non. 
      Bibendum enim facilisis gravida neque convallis. Ultrices in iaculis nunc sed augue lacus viverra. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at.
       Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra.</p> <p class="para"> Vel facilisis volutpat est velit egestas. Non sodales neque sodales ut etiam. Pellentesque habitant morbi 
       tristique senectus et. Auctor eu augue ut lectus arcu bibendum.</p>  <p class="para"> Proin nibh nisl condimentum id venenatis a condimentum vitae. Lectus urna duis convallis convallis tellus 
       id interdum velit. Scelerisque eu ultrices vitae auctor eu. Integer eget aliquet nibh praesent tristique magna sit.</p>

 
  
  </div>
 
</div>
